# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Log files
*.log
